 /* Contents 
1. heading  
2.Login   */
 /* --------------------------------------------------------------- */
 /* 1.heading css */
 
 .news {
     width: 30%;
 }
 
 .news-scroll a {
     text-decoration: none
 }
 
 .logo {
     height: 50px;
     width: 85px;
 }
 /* 2.Login */
 
 .login__image {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 100px;
 }
 
 .sign_up_form {
     margin-top: 30px;
     margin-bottom: 30px;
     z-index: 100;
     color: white;
     background: rgba(0, 0, 0, 0.68);
 }
 
 .pass_box {
     margin-top: 150px;
     padding: 15px;
     border: thin solid #340f0f;
     border-radius: 5px;
 }